Prince Kumar Sharma; PRN:25070123086
AIM: Study Of Dictionary In Python

In [1]:
#Creation of dictionary
thisdict = {
    "Brand": "Ford",
    "Model": "Mustang",
    "year": 1964
}
#thisdict = {"Brand": "Ford","Model": "Mustang","year": 1964} you can type it in one line also
print(thisdict)

{'Brand': 'Ford', 'Model': 'Mustang', 'year': 1964}

In [2]:
# Retrieving values from dictionary
thisdict = {
    "Brand": "Ford",
    "Model": "Mustang",
    "year": 1964
}
print(thisdict["Brand"])

Ford

In [4]:
# Dictionary takes latest value given for key, it will also not allow duplicate
thisdict = {
    "Brand": "Ford",
    "Model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

#Length of key-value pairs
len(thisdict)

{'Brand': 'Ford', 'Model': 'Mustang', 'year': 2020}

3

In [8]:
# changing/adding key:value in dictionary
car = {
    "Brand": "Ford",
    "Model": "Mustang",
    "year": 1964
}
car["color"] = "red"
print(car)
x = car.values()
print(x)
print(type(car))

{'Brand': 'Ford', 'Model': 'Mustang', 'year': 1964, 'color': 'red'}
dict_values(['Ford', 'Mustang', 1964, 'red'])
<class 'dict'>

In [9]:
# Removing a key:value pair
student = {
    "Roll":101,
    "Name":"prince",
    "Branch": "Entc"
}
student.pop("Branch")
print("after removal",student)

after removal {'Roll': 101, 'Name': 'prince'}

In [13]:
'''1. A dictionary stores product names and their prices.
Write a python programn to update the price of a given problem'''
product ={
    "Pen":"20 Rupees",
    "Book":"50 Rupees",
    "Pencil":"10 Rupees",
    "Eraser":"5 Rupees"
}
print("Original price:",product)
product["Book"]="55 Rupees"
print("Updated price:",product)

Original price: {'Pen': '20 Rupees', 'Book': '50 Rupees', 'Pencil': '10 Rupees', 'Eraser': '5 Rupees'}
Updated price: {'Pen': '20 Rupees', 'Book': '55 Rupees', 'Pencil': '10 Rupees', 'Eraser': '5 Rupees'}

In [17]:
'''2. A dictionary stores student names and marks.
 Write a python program to search for a student's mark If the student is not found, display a suitable message
'''
student ={
    "Prince":85,
    "Rudra":75,
    "Nilabho":67,
}
name = input("Enter the name of the student:")
print(student.get(name,"Student not found"))

Enter the name of the student:Medhansh
Student not found

In [20]:
'''3.A dictionary stores usernames and passwords.
write a python program to validate user login.
'''
users = {"admin": '1234',"student":"abcd"}
username = input("Enter the username:")
password = input("Enter the password:")
if users.get(username) == password:
  print("Login successful")
else:
  print("Invalid username or password")

Enter the username:student
Enter the password:abcd
Invalid username or password

In [25]:
'''4. A dictionary stores student names and marks.
write a python programn to find the student who scored the highest marks
'''
student ={
    "Prince":85,
    "Rudra":75,
    "Nilabho":67,
}
topper = max(student, key=student.get)
print("Topper:",topper,", Marks:",student[topper])

Topper: Prince , Marks: 85